.heading {
    text-align: center;
    width: 100%;
    line-height: 3;
    font-size: 30px;
}

#ins {
    float: right;
    height: 90px;
    width: 300px;
    font-size: 30px;
    line-height: 3;
}

#start,
#status,
#restart {
    font-size: 20px;
}

#footer {
    position: fixed;
    color: rgb(140, 255, 255);
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
    font-size: 30px;
}

body {
    font-family: 'Fuzzy Bubbles', cursive;
}